# `dist/index.js` is a special file in Actions.
# When you reference an action with `uses:` in a workflow,
# `index.js` is the code that will run.
# For our project, we generate this file through a build process from other source files.
# We need to make sure the checked-in `index.js` actually matches what we expect it to be.
name: Check dist

on:
  push:
    branches:
      - main
    paths-ignore:
      - "**.md"
  pull_request:
    paths-ignore:
      - "**.md"
  workflow_dispatch:

jobs:
  check-dist:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v5

      - name: Install dependencies
        run: npm ci

      - name: Run build in all projects
        run: |
          npm run build

      - name: Compare the expected and actual demo/ directories
        run: |
          if [ "$(git diff --ignore-space-at-eol demo/ | wc -l)" -gt "0" ]; then
            echo "Detected uncommitted changes after build. See status below:"
            git diff
            exit 1
          fi
        id: diff

      - name: Create Pull Request
        if: ${{ failure() && steps.diff.conclusion == 'failure' }}
        uses: peter-evans/create-pull-request@v8
        with:
          title: "chore: rebuild demo"
          body: |
            :warning: There were changes to some demo directories after build.
            This usually should not happen and may be due to a change in the build process.
            Review the changes and merge if they are expected.
          commit-message: "chore: rebuild demo"
          delete-branch: true
          base: ${{ github.head_ref	}}
